<%- include('partials/header'); -%>
<div class="container">
  <h3>Dashboard</h3>
  <h4 class="red-text text-lighten-2">Welcome Cloves09</h4>
  <p>here is your email address-> hey.cnu@gmail.com</p>
</div>
<!--  -->
<%- include('partials/script'); -%>
<!--  -->
<%- include('partials/footer'); -%>
